[submodule "virtstrap-local"]
	path = virtstrap-local
	url = git@github.com:ravenac95/virtstrap-local.git
[submodule "virtstrap-core"]
	path = virtstrap-core
	url = git@github.com:ravenac95/virtstrap-core.git
